* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-picture{
    width: 100%;
}
.mb-3{
    color: rgb(122, 120, 120);
}
.text-center{
    background-color: rgba(0, 0, 0, 0.2);
}
footer a {
    text-decoration: none;
}
